@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap');

:root {
  /* espacios */
  /* --padding100: 100px 0; */

  /* básicos */
  --woodsmoke: #131415;
  --white: #ffffff;
  --woodsmoke-025: #13141535;

  /* primarios */
  --tuna: #383c43;
  --silver-sand: #c1c7c7;
    --silver-tree: #64b49d;
    --shuttle-gray: #5c6d80;
    --pine-cone: #725d54;
    --horizon: #5d8aab;
    --apple-blossom: #ab4e42;
    --amazon: #377a60;
    --skin: #FBBEBE;
    --skined: #E2ABAB;

  /* effects */
  --gradient: linear-gradient(#c1c7c7 0%, #383c43 10%, #131415);
  --gradient-tree: linear-gradient(45deg, #64b49d, #377a60);
  --gradient-green: linear-gradient(45deg, #64b49d 25%, #377a60 75%);
  --time-animation: 0.3s;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #c1c7c7;
  /* display: flex;
  flex-direction: column; */
}

a{
  text-decoration: none;
  color: var(--white);
}
/*-----------MENU DE NAVEGACIÓN------------*/
.header {
  color: var(--white);
  padding: 1rem;
  margin: 0;
  /* height: 79px; */
  width: 100%;
  background: var(--tuna);
  position: fixed;
  display: table;
  z-index: 100;
}

.nav__logo {
  width: 650px;
  margin: 0 auto;
  padding: 0%;
}


.nav {
  float: right;
}

.nav ul li {
  list-style: none;
  color: var(--white);
  margin-left: 4rem;
  padding: 4px 0;
  float: left;
}

.nav ul li a{
  padding: 9px 16px;
  background: var(--amazon);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.nav__links{
  text-decoration: none;
    height: 19px;  
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    padding: 9px 16px;
}

.nav__links:hover {
  background-color: var(--silver-tree);
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/*----------Menu Lateral-------------*/

.nav__main--lateral{
  position: absolute;
  position: fixed;
  background-color: var(--tuna);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  padding: 0 4rem;
  margin-top: 51px;
  height: 990px;
}

.nav-left{
  margin: 1em;

}

.nav__pre{
  /* margin-top: 10rem; */
  padding: 0%;
  margin: 0%;
  font-family: 'Nunito Sans', sans-serif;
  bottom: 2;
}





/*----------PRESENTACIÓN----------*/
.img{
  min-height: 1061px;
  background-image: url(/media/img/computer.jpg);
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
}

.container {
  width: 100%;
}

.header__container{
  width: 48%;
  background-color: #383c4370;
  margin-right: 20%;
  margin-left: 23.5%;
  padding-top: 20%;  
  padding-left: 1rem;
  text-align: left;
  color: var(--white);
  z-index: 10;
}

.header__title--hola {
  padding-top: 5rem;
}
.header__title {

  font-size: 4rem;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
} 
h1{
  text-shadow: 1px 1px 1px var(--horizon), 3px 3px 2px var(--horizon);
}

/*------------------ACERCA----------------- */

/* -----MARGEN PRINCIPAL------*/
.container__acerca,
.container__estudios,
.container__habilidades,
.container__portfolio,
.container__contactos{
    width: 73%;
    /* background-color: #383c4370; */
    /* margin-right: 15%; */
    margin-left: 23.5%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    color: var(--tuna);
    z-index: 10;
}
/*-------TERMINA MARGEN-------*/

/*--------TEXTO----------*/

.main__container--acerca,
.main__estudios{
  margin: 2rem 0;

}
.main__acerca,
.estudios__article,
.habilidades__article{
  padding-top: 2rem;
  padding-left: 10%;
  line-height: 1.5rem;
}

/* -------------IMÁGENES------------- */

.body__img{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.container__img{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.container__img .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: 0.5px 202px #383c4370;
}

.container__img .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
}

.container__img .card .imgBx .svg{
  max-width: 100%;
  border-radius: 8px;
}

/*------------------ÍCONOS----------------- */

.main__icon--intereses{
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*------------------ESTUDIOS----------------- */
.main__container--estudios{
  font-family: 'Nunito Sans', sans-serif;
}
.main__container--estudios .estudios__article .estudios__container p{
  font-style: italic ;
}
.main__container--estudios .estudios__article .estudios__container a{
  color: var(--horizon);
  font-style: italic;
}

.estudios__article{
  display: flex;
  flex-direction: column;

}

.estudios__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px 8px;
}

.academia,
.innovaccion,
.utn,
.taller,
.skill,
.soft{
  background-color: var(--horizon);
  color: var(--white);
  display: flex;
  padding: 16px 8px;
}

/*------------------HABILIDADES----------------- */

.habilidades__container{
  padding: 1rem 8px;
}

/*------------------METERS------------*/

.meters{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 24rem;
  margin-left: 9rem;
  width: 45%;
  background: var(--horizon);
  color: var(--white);
  
}
.container__m{
  position: relative;
  width: 300px;
}

.container__m .loading__m{
  position: relative;
  display: flex;
  padding: 1rem;
  border-radius: 8px;
}
.container__m .loading__m::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10px;
  pointer-events: none;
}

.container__m .loading__m .text__m{
  position: relative;
  width: 80px;
  color: var(--white);
  text-align: right;
  letter-spacing: 1px;
}

.container__m .loading__m .percent__m{
  position: relative;
  top: 2px;
  width: calc(100% - 80px);
  height: 20px;
  background: #131415;
  border-radius: 20px;
  margin: 0 16px;
  box-shadow: inset 0 0 10px var(--woodsmoke);
}

.container__m .loading__m .percent__m .ux,
.css {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  background: var(--gradient-tree);
  z-index: 20;
}

.container__m .loading__m .percent__m .adobe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background: var(--gradient-tree);
  z-index: 20;
}

.container__m .loading__m .percent__m .html{
    position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 100%;
      border-radius: 20px;
      background: var(--gradient-tree);
      z-index: 20;
}

.container__m .loading__m .percent__m .javascript {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  background: var(--gradient-tree);
  z-index: 20;
}



/**/
/*------------------FORMULARIO----------------- */
/**/

*{
  box-sizing: border-box;
}

.talk {
  font-style: none;
  font-display: hidden;
}

.formulario{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--gradient-green);
  padding: 2rem;
  padding-top: 180px;
  margin-left: 19.2%;
  color: var(--woodsmoke);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25)
}

.contact__me{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 16px 16px 0 0;

}

.form__container{
  position: relative;
  padding: 50px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 16px; */
  
}

.form__input--box{
  position: relative;
  width: 350px;
  z-index: 20;
}

.form__text{
  position: relative;
  padding: 8px 10px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--white);
  font-size: 1.25em;
  letter-spacing: 0.05em;
  z-index: 30;
}

.form__label{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  font-size: 1em;
  transition: 0.5s;
  color: var(--woodsmoke);
  letter-spacing: 0.05em;
}



.form__text:valid ~ .form__label,
.form__text:focus ~ .form__label {
  font-size: 0.85em;
  transform: translateY(-2rem);

}

.form__base{
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 0.25rem;
  background: var(--gradient-green);
  transition: 0.5s;
  z-index: 10;
  border-radius: 4px;
  pointer-events: none;
}

.form__text:valid~.form__base,
.form__text:focus~.form__base{
  height: 100%;
  box-shadow: inset 1px 1px 10px var(--woodsmoke-025);
}

.textarea{
  font-family: 'Roboto', sans-serif;
  width: 350px;
  height: 59px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 1em;
  /* z-index: 10; */
}

.textarea:is(:focus, :valid){
  border-color: var(--horizon);
}
.textarea::-webkit-scrollbar{
  width: 0;
}

.form__border1{
  border-top: 16px;
}
.form__border2{
  border-radius: 0 0 16px 16px;

}


